@model Category
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1>Are you sure you want to delete the following Category: @Model.Name?</h1>

    <!-- Form for deletion -->
    <form asp-action="DeleteAction" asp-controller="Categories" method="post">
        <input type="hidden" asp-for="Id" /> <!-- Hidden field for Id -->
        <button type="submit" class="btn btn-primary">Delete</button>
        <a class="btn btn-secondary" asp-action="Index" asp-controller="Categories">Cancel</a>
    </form>
</div>

