@model Category
@{
    ViewData["Title"] = "Edit Category";
}


<h1>Edit a Category</h1>
<h5>A category helps us to see where we spend our money,
    also where do our incomes come from.
</h5>
<form asp-action="Edit" asp-controller="Categories">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TransactionTypeId" class="form-label"></label>
        <select asp-for="TransactionTypeId" asp-items="Html.GetEnumSelectList<TransactionType>()" class="form-select"></select>
        <span asp-validation-for="TransactionTypeId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
    <a class="btn btn-danger" asp-action="Index">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}